/*Javascript에서 className 부여로 요소를 숨기기 위함*/
.hidden{
    display: none;
}

*{
    box-sizing: border-box;
}

body{
    padding-top: 150px;
}

#bgImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index:-5;
    max-height: 1400px;
    
}

#login-form {
    text-align: center;
    color: white;
    margin: 0 auto;
}

#login-form > input:first-child {
    text-align: center;
    font-size: 36px;
    background-color: transparent;
    border: 0;
}

#login-form > input:first-child:hover{
    background-color: rgba(255,255,255,0.4);
    border: 0;
}

#login-form > input:first-child:focus{
    outline: 0;
}

#login-form > input:last-child {
    font-size: 34px;
    background-color: transparent;
    border: 0;background-color: rgba(255,255,255,0.6);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    cursor: pointer;        /* 커서 모양 변경 */
}

#login-form > input:last-child:hover {
    background-color:rgba(255,255,255,0.8)
}

/* 로그인 버트 클릭시 */
#login-form input:last-child:active{
    background-color:darkgray;
    color:white;
    outline: none;
}

#clock {
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 200px;
}

#greeting {
    text-align: center;
    color: white;
}

#todo-form {
    text-align: center;
}

#todo-form > input{
    width: 500px;
    height: 76px;
    text-align: center;
    font-size: 36px;
    background-color: transparent;
    border: 0;
}

#todo-form > input:hover{
    background-color: rgba(255,255,255,0.4);
    border: 0;
}

#todo-form > input:focus{
    outline: 0;
}

#todo-form:first-child {
    text-align: center;
}

#todo-list {
    text-align: center;
    color: white;
}

#todo-list > li{
    list-style: none;       /* list-style 앞 기호 제거*/
    text-align: center;
    color: white;
    font-size: 28px;
}

#todo-list > li > button{
    border: 0;
    background-color:rgba(255,255,255,0);
    font-size: 19px;
}

#quote{
    text-align: center;
    color: white;
}
#weather{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 20px;
    color: white;
}