.hidden{
    display: none;
}
*{
    box-sizing: border-box;
}

#bgImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index:-5;
}

#login-form {
    text-align: center;
    color: white;
    margin: 0 auto;

}

#login-form:first-child {
    text-align: center;
    color: white;
}

#clock {
    
}

#greeting {

}

#todo-form {

}

#todo-form:first-child {}

#todo-list {

}

#quote{}
#weather{}